@mixin flexbox($jc, $ai, $fdrc) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fdrc;
}

@mixin list {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

@mixin pseudo-el($w, $h, $bgi) {
  display: block;
  width: $w;
  height: $h;
  background-image: url($bgi);
  background-repeat: no-repeat;
  background-position: center;
  content: "";
}