@use "../mixins" as m;

.information {
  padding: 24px 0;
  background-image: linear-gradient(90deg, #c80090 2.19%, #0500ff 100%);
}

.information__data {
  max-width: 353px;
  padding-top: 24px;
  padding-bottom: 21px;
  background-color: #f9f9fb;
  border-radius: 10px;
}

.information__user-img {
  margin: 0 auto 6px;
}

.information__user-name {
  display: block;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 600;
  line-height: 38px;
  text-align: center;
}

.information__list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 16px;
  list-style: none;
  text-align: left;
  border-bottom: 1px solid #c4c4c4;
}

.information__item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 400;
  line-height: 19px;
  &:last-child {
    margin-bottom: 14px;
  }
  &::before {
    @include m.pseudo-el(40px, 40px, "../../images/letter-information.png");
    margin-right: 6px;
  }
}

.information__item--cake::before {
  background-image: url("../../images/cake-information.png");
}

.information__item--globe::before {
  background-image: url("../../images/globe-information.png");
}

.information__item--houses::before {
  background-image: url("../../images/houses-information.png");
}

.information__item--pin::before {
  background-image: url("../../images/pin-information.png");
}

.information__item--numbers::before {
  background-image: url("../../images/numbers-information.png");
}

.information__btn {
  min-width: 121px;
  margin: 19px 0 21px 17px;
  padding: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 25px;
  color: #e03434;
  text-align: center;
  background-color: transparent;
  border: 1px solid #e03434;
  border-radius: 4px;
}

.site-logo {
  display: block;
  padding-top: 14px;
  padding-left: 7px;
  border-top: 1px solid #c4c4c4;
}

.information__copyright-wrapper {
  max-width: 236px;
  margin-bottom: 12px;
  margin-left: 17px;
}

.information__copyright {
  margin: 0;
  font-size: 13px;
  font-weight: 300;
  line-height: 23px;
}

.information__privacy-list {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 17px;
  padding-left: 0;
  column-gap: 10px;
  list-style: none;
}

.information__privacy-link {
  color: #000;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}